# 常见临时/中间结果
agents.md
AGENTS.md
tmpFolder/*
temp/*
working/*
calculate/
web-backend/
web-frontend/
src/_pycache_/
bac/*
# 明显超大数据目录
struct_data/
orth/data/
tools/
plmsearchtools/
Rostlab/prot_t5_xl_uniref50/
rhea/*
primate/
data_available
TODO/
syns/
data_source.tar.xz


# 大文件类型（按需）
